@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define o tamanho padrao para a referência o REM*/
::root {
  font-size: 16px;
}

nav {
  padding: 64px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #2c2c31;
}
/* Parte da Bassa de rolagem que percorre a Trilha*/
::-webkit-scrollbar-thumb {
  background-color: #9e9ea0;
}

/* Define uma animação que pode ser usada em algum elemento CSS usando animation*/
@keyframes intro {
  /* Você pode definir os quadros com % ou se for dois estados use o from para to */
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background-color: #121215;
  color: #eaeaee;
  font-family: "Roboto", sans-serif;
  /* Especifica que o template será dividido em duas areas*/
  display: grid;
  /* Especifica qual o nome das areas as quais o template foi dividido */
  grid-template-areas: "profile timeline";
  /* A medidas fr define a medida das colunas ou seja 1 gração de 50% pra cada coluna*/
  grid-template-columns: 1fr 1fr;
  /* Define o tamanho da View Port como 100%*/
  grid-template-rows: 100vh;
}

aside {
  grid-area: profile;
  display: flex;
  flex-direction: column;
  /* Alinha os itens da flex em da pagina na Horizontal*/
  align-items: center;
  /* Alinha os itens da flex em da pagina na Vertical*/
  justify-content: center;
  border-right: 1px solid;
  /* O um no final do parametro border image define opacidade*/
  border-image: linear-gradient(#727275, #2c2c31), 1;
  gap: 20px;
  background-image: url(assets/background.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

aside * {
  animation: intro 0.8s ease-in-out;
}

aside img:nth-child(2) {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1.5px solid transparent;
  background: linear-gradient(#d39e33, #ed5636, #633bbc), padding-box,
    linear-gradient(180deg, #d39e33, #ed5636, #633bbc), border-box;
}

aside p {
  text-align: center;
  font-size: 2rem;
}

aside span {
  font-size: 0.75rem;
  color: #9e9ea0;
}

/* Não estava conseguindo colocar os emojis entao usei caracteres especiais
e fiz a configuração css somente para esse item */
.heart {
  padding: 0.8px;
  color: #633bbc;
  font-size: 1.25rem;
}

nav {
  grid-area: timeline;
  margin-bottom: 64px;
  /* Essa propriedade coloca um scroll no conteudo que nao cabe na tela*/
  overflow-y: scroll;
  animation: intro 0.8s ease-in-out;
}

.memory {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-decoration: none;
  margin-bottom: 64px;
}

.memory small {
  color: #bebebf;
  font-size: 0.75rem;
}

.memory h1 {
  color: #eaeaea;
  font-size: 2rem;
  font-family: "Roboto";
}

.memory img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.memory img:hover {
  /* Aplica 10% na escala original do elemento dando efeito de zoom*/
  transform: scale(1.1);
}

.memory div {
  width: 100%;
  height: 280px;
  /* Diz para ocultar a parte da imagem que exceder a altura e largura pre definida */
  overflow: hidden;
  border-radius: 8px;
}

.memory p {
  font-size: 1.12rem;
  color: #bebebf;
  line-height: 28px;
}

@media (max-width: 768px) {
  ::root {
    font-size: 14px;
  }

  body {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas:
      "profile"
      "timeline";
  }

  aside {
    border: none;
    margin-bottom: 10px;
  }

  nav {
    overflow-y: visible;
    padding: 22px;
  }

  nav p {
    text-align: justify;
  }
}
